<mat-toolbar>
  <button (click)="location.reload()" mat-button>
    <mat-icon>school</mat-icon>
    <p>Zakariae Moutaouakil</p>
  </button>
  <section>
    <a href="https://github.com/ZakariaeMoutaouakil/animated-homepage"
       mat-button
       target="_blank"><p>GitHub</p></a>
    <a (click)="window.scrollTo(0, document.body.scrollHeight);" mat-button><p>Projects</p></a>
    <a href="mailto:zakariae.moutaouakil@etu.u-paris.fr"
       mat-button
       target="_blank"><p>Contact</p></a>
  </section>
</mat-toolbar>
