<main>
  <h1 [@state]="state">Projects:</h1>
  <div [@state]="state">
    <section>
      <p>
        The project was about making a clone of Moodle, the university's learning management system, using Angular for
        the frontend and Django for the backend. Leveraging Angular's capabilities, the frontend was designed to provide
        a user-friendly interface for students and instructors to access course materials. On the backend, Django
        facilitated the development of a robust and scalable platform, handling user authentication and course
        management.
      </p>
      <blockquote>
        <button style="--clr:#0FF0FC">
          <a href="https://github.com/ZakariaeMoutaouakil/moodle" target="_blank">
            Code
          </a>
          <i></i>
        </button>
      </blockquote>
    </section>
    <section>
      <article>
        <img
          alt="img"
          fill
          ngSrc="https://i.pcmag.com/imagery/reviews/02r8o7MzKoB0al9twOaijJt-3.fit_scale.size_760x427.v1569471170.jpg">
      </article>
    </section>
  </div>
  <div [@state]="state">
    <section>
      <p>
        The project involved creating a clone of Instagram using Angular for the frontend and Spring Boot for the
        backend. The Angular framework was utilized to develop the user interface, providing a sleek and intuitive
        design reminiscent of the original Instagram platform. Meanwhile, Spring Boot served as the backend framework,
        facilitating the development of robust and scalable RESTful APIs to handle user authentication, image uploading,
        commenting, liking, and other core functionalities.
      </p>
      <blockquote>
        <button style="--clr:#0FF0FC">
          <a href="https://github.com/ZakariaeMoutaouakil/instagram-clone-angular" target="_blank">
            Code
          </a>
          <i></i>
        </button>
      </blockquote>
    </section>
    <section>
      <article>
        <img
          alt="img"
          fill
          ngSrc="https://toppng.com/uploads/preview/black-text-line-and-white-background-instagram-logo-11672678802f7lih39vbd.png">
      </article>
    </section>
  </div>
  <div [@state]="state">
    <section>
      <p>
        The project was about developing a software application capable of extracting lyrics from an MP3 file of a song
        and displaying them elegantly line by line on the screen. Through sophisticated audio processing techniques, the
        application analyzed the audio waveform of the MP3 file to identify and extract the lyrics embedded within the
        song. The extracted lyrics were then dynamically presented in a visually appealing manner, with each line
        synchronized to the corresponding portion of the song.
      </p>
      <blockquote>
        <button style="--clr:#0FF0FC">
          <a href="https://github.com/ZakariaeMoutaouakil/karaoke" target="_blank">
            Code
          </a>
          <i></i>
        </button>
      </blockquote>
    </section>
    <section>
      <article>
        <img
          alt="img"
          fill
          ngSrc="https://media.istockphoto.com/id/1226361494/vector/karaoke-neon-sign-neon-label-with-microphone-and-karaoke-lettering.jpg?s=612x612&w=0&k=20&c=ux9yKJQISTJwfJ-mNVX71yJA78ayr2se8_Q0F7NQ4vY=">
      </article>
    </section>
  </div>
</main>
