<main>
  <h1 [@state]="state">Skills:</h1>
  <section>
    <mat-card [@state]="state">
      <mat-card-content>Simple card</mat-card-content>
      <mat-card-footer>
        <mat-progress-bar color="warn" mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card [@state]="state">
      <mat-card-content>Simple card</mat-card-content>
      <mat-card-footer>
        <mat-progress-bar color="warn" mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card [@state]="state">
      <mat-card-content>Simple card</mat-card-content>
      <mat-card-footer>
        <mat-progress-bar color="warn" mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
    <mat-card [@state]="state">
      <mat-card-content>Simple card</mat-card-content>
      <mat-card-footer>
        <mat-progress-bar color="warn" mode="determinate" value="100"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </section>
</main>
